{% extends 'base.html' %}

{% block content %}
    <div class="h-100 d-flex align-items-center justify-content-center">
        
        <form method="post">
            <h3 class="mt-4">Вход в систему</h3>
            {% csrf_token %}
            {{ form.non_field_errors }}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
            {% endfor %}

            {% for field in form.visible_fields %}
                <div class="mb-3">         
                    {{ field }}
                    <span style="color: red">{{ field.errors }}</span>
                    {{ field.help_text }}
                </div>
            {% endfor %}
        
            <!-- Submit button -->
            <div class="text-center">
                <button type="submit" class="btn btn-warning btn-block mb-4">Войти</button>
            </div>
            
        
            <!-- Register buttons -->
            <div class="text-center">
            <p>Ещё не зарегистрированы? <a href="#!">Зарегистрироваться</a></p>
            </div>
        </form>
    </div>

{% endblock %}