{% extends 'base.html' %}

{% block content %}
    <div class="h-100 d-flex align-items-center justify-content-center">
        
        <form>
            <h3 class="mt-4">Вход в систему</h3>
            <!-- Email input -->
            <div class="form-outline mb-3">
            <input type="email" id="form2Example1" class="form-control" placeholder="Email"/>
            </div>
        
            <!-- Password input -->
            <div class="form-outline mb-3">
            <input type="password" id="form2Example2" class="form-control" placeholder="Password" />
            </div>
        
            <!-- Submit button -->
            <div class="text-center">
                <button type="button" class="btn btn-warning btn-block mb-4">Войти</button>
            </div>
            
        
            <!-- Register buttons -->
            <div class="text-center">
            <p>Ещё не зарегистрированы? <a href="#!">Зарегистрироваться</a></p>
            </div>
        </form>
    </div>

{% endblock %}