{% extends 'base.html' %}  
  
{% block content %}  
<div class="h-100 d-flex align-items-center justify-content-center">  
      
    <form method="post"> 
        <h2 class="mt-4">Регистрация</h2> 
        {% csrf_token %}  
        {{ form.non_field_errors }}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}

        {% for field in form.visible_fields %}
            <div class="mb-3">         
                {{ field }}
                <span style="color: red">{{ field.errors }}</span>
                {{ field.help_text }}
            </div>
        {% endfor %}
    
        <!-- Submit button -->
        <div class="text-center">
            <button type="submit" class="btn btn-warning btn-block mb-4">Зарегистрироваться</button>
        </div>  
      
        <div class="text-center">
            <p>Зарегистрированы? <a href="{% url 'login_user' %}">Войти</a></p>
        </div>
    </form> 
</div>  
{% endblock %}  